{% load static %}

<!-- Nav Item - Alerts -->
<li class="nav-item dropdown no-arrow mx-4">
    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fas fa-cart-plus fa-fw text-success mx-1" style="font-size:26px"></i>
        <!-- Counter - Alerts -->
        <span class="badge badge-danger badge-counter" style="font-size:15px">
            {% if request.session.cart_items > 0 %}
                {{ request.session.cart_items }}+
            {% else %}
                0
            {% endif %}
        </span>
    </a>
    <!-- Dropdown - Alerts -->
    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
        aria-labelledby="alertsDropdown">
        <h6 class="dropdown-header">Carrinho</h6>

        <form method='POST' action='{% url "sell_products" %} ' enctype="multipart/form-data"> {% csrf_token %}
            {% for cart in cart %}
                {% for product in cart.produto.all %}
                    <input type="hidden" name="product_id" value="{{product.pk}}">
                    <input type="hidden" name="cart_id" value="{{cart.pk}}">
                    <input type="hidden" name="value" value="{{product.value}}">
                    <input type="hidden" name="quantity" value="{{cart.quantity}}">


                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="mr-4">
                                <div class="icon-circle align-items-center">
                                    <img class="mr-3 icon-circle fa-file-alt" src="{{product.image.url}}" alt="">
                                </div>
                            </div>
                            <div>
                                <div class="small text-gray-500">{{cart.data_hora|timesince}}</div>
                                <span class="font-weight-bold text-center">{{product.name}} <span class="text-success">R${{product.value}}</span></span>
                                <input type="hidden" name="produto_id" value="{{product.pk}}">
                            </div>
                        </a>
                {% endfor %}
            {% endfor %}
            <button class="btn btn-success bg-success dropdown-item text-center small text-white" href="#">Vender</button>
        </form>
        
    </div>
</li>