{% extends 'base.html' %}

{% load static %}

{% block body %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Todos os produtos</h1>

        <!-- Topbar Search -->
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-5 my-2 my-md-0 mw-100 navbar-search col-md-4" method="GET">
            <div class="input-group">
                <input name="q" value="{{ request.GET.q }}" type="search" class="form-control bg-light border-1 small" placeholder="Pesquisar produtos"
                    aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>

        <a href="{% url 'create-product' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-plus-square text-white-50"></i> Cadastrar produto</a>
    </div>
    
        <!-- Section-->
        <section class="py-2">
            <div class="container-fluid px-4 px-lg-5 mt-1">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert bg-gradient{{message.tags}} alert-dismissible fade show text-white" role="alert">
                            <strong>Informação!</strong> {{ message }}
                            <button type="button" class="close text-danger" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                    {% endfor %}
                {% endif %}
              </div>
            
              <div class="row">

                <!-- Area Chart -->
                <div class="col-xl-12 col-lg-12">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div
                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Todos os produtos</h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                    aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Opções:</div>
                                    <a class="dropdown-item" href="{% url 'all_producs_sold' %}">Todas as vendas</a>
                                    <a class="dropdown-item" href="{% url 'backup_products' %}">Fazer backup</a>
                                </div>
                                
                            </div>
                        </div>

                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="table-responsive-sm">
                                <table class="table table-hover">
                                    <thead>
                                      <tr  class="text-center">
                                        <th scope="col">Código</th>
                                        <th scope="col">Produto</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Preço unitário</th>
                                        <th scope="col">Quantidade</th>
                                        <th scope="col">Data cadastro</th>
                                        <th scope="col">Data atualizado</th>
                                      </tr>
                                    </thead>
                                    
                                    <tbody>
                                        {% for product in producs %}
                                        
                                        <tr class="text-center">
                                            <th scope="row"><a href="{% url 'product-edit' product.pk  %}">{{product.code}}</a></th>
                                            <td>{{product.name}}</td>
                                            <td>
                                                {% if product.status == True  %}
                                                    <span class="text-success">Ativo</span>
                                                {% else %}
                                                <span class="text-danger">Desativado</span>
                                                {% endif %}
                                                
                                            </td>
                                            <td>{{product.value}}</td>
                                            <td>{{product.quantity}}</td>
                                            <td>{{product.date_create}}</td>
                                            <td>{{product.date_update}}</td> <!-- Mostrar a quanto tempo : timesince-->
                                        </tr>
                                        
                                        {% endfor %}
                                    </table>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </section>
       
    <nav aria-label="Navegação de página exemplo">
        <ul class="pagination justify-content-center" style="justify-content: center; display: flex;">
            {% if producs.has_previous != 0 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ producs.previous_page_number }}">Anterior</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Anterior</a>
                </li>
            {% endif %}
                <li class="page-item">
                    <a class="page-link" href="#">{{ producs.number }} de {{ producs.paginator.num_pages }}</a>
                </li>
            {% if producs.has_next %}
            <li class="page-item ">
                <a class="page-link" href="?page={{ producs.next_page_number }}">Próxima</a>
            </li>
            {% endif %}
        </ul>
    </nav>

</div>
<!-- /.container-fluid -->

{% endblock body %}