{% extends 'base.html' %}

{% load static %}

{% block body %}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Detalhes: {{ product.id }}</h1>
        <a href="{% url 'create-product' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-plus-square text-white-50"></i> Cadastrar produto</a>

        <a href="" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i
            class="fas fa-plus-deleter text-white-50"></i> Deletar</a>
    </div>
    {% for product in context %} 
    {{product}}

    {% endfor %}

</div>

{% endblock body %}