{% extends 'base.html' %}

{% load static %}
{% load bootstrap_tags %}

{% block body %}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Editar: <strong> {{ object.name }}</strong></h1>
        <a href="{% url 'create-product' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-plus-square text-white-50"></i> Cadastrar produto</a>
    </div>

    <form class="container" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        {{ form|as_bootstrap }}

        <button class="btn btn-outline-primary" type="submit">Salvar</button>
    </form>

</div>

{% endblock body %}