{% extends 'base.html' %}

{% load static %}
{% load bootstrap_tags %}

{% block body %}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Editar: <strong> {{ object.name }}</strong></h1>
        <a href="{% url 'create-product' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right">
            <i class="fas fa-plus-square text-white-50"></i> Cadastrar produto
        </a>
    </div>

    <form class="container" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        {{ form|as_bootstrap }}

        <div class="row">
            <div class="col-sm col-md-2">
                <button class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm float-left col-md-12" type="submit">
                    <i class="fas fa-save mt-1 fa-sm fa-fw text-gray-100 float-left"></i>Salvar
                </button>
            </div>
            <div class="col-sm col-md-2">
                <a class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm float-left col-md-12" href="#" data-toggle="modal" data-target="#deleteModal">
                    <i class="fas fa-trash mt-1 fa-sm fa-fw text-gray-100 float-left"></i>
                    Deletar
                </a>
            </div>
        </div>
    </form>

</div>

<!-- Delete Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Deseja sair?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form  action="{% url 'product-delete' object.pk %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">Selecione "Deletar" abaixo se estiver pronto para deletar o produto "{{object.name}}".</div>
                <div class="modal-footer">
                    <button class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm float-right" type="button" data-dismiss="modal">Cancelar</button>
                    <button class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm float-right" type="submit">Deletar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock body %}