{% extends 'base.html' %}

{% load static %}
{% load bootstrap_tags %}


{% block body %}

<div class="container">
    <div class="container-fluid px-4 px-lg-5 mt-1">
        {% if messages %}
            {% for message in messages %}
                <div class="alert bg-gradient{{message.tags}} alert-dismissible fade show text-white" role="alert">
                    <strong>Informação!</strong> {{ message }}
                    <button type="button" class="close text-danger" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
            {% endfor %}
        {% endif %}
      </div>

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Editar perfil: {{ request.user.username }}</h1>
        <a href="{% url 'home' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-arrow-left text-white-50"></i> Inicio</a>
    </div>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        {{ user_form|as_bootstrap }}

        {{ profile_form|as_bootstrap }}

        <button class="btn btn-outline-primary" type="submit">Salvar alterações</button>
        
    </form>


</div>

{% endblock body %}